.stories {
	background: #94b5c0 !important;
}

.remove-btn {
	background: #fff !important;
	color: red !important;
}

.remove-btn:hover {
	background: #ec4646 !important;
	color: #fff !important;
}

.read-btn:hover {
	background: #fff !important;
	color: rgb(5, 4, 4) !important;
}

.card-header {
	font-size: 1.3rem !important;
	font-weight: 600 !important;
}

.icon {
	font-weight: 500;
	margin-left: 2vw;
}

.search-form {
	margin-right: 4vw;
}

/* loader */

.centered {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.blob-1,
.blob-2 {
	width: 70px;
	height: 70px;
	position: absolute;
	background: rgb(0, 0, 0);
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.blob-1 {
	left: 20%;
	animation: osc-l 2.5s ease infinite;
}
.blob-2 {
	left: 80%;
	animation: osc-r 2.5s ease infinite;
}
@keyframes osc-l {
	0% {
		left: 20%;
	}
	50% {
		left: 50%;
	}
	100% {
		left: 20%;
	}
}
@keyframes osc-r {
	0% {
		left: 80%;
	}
	50% {
		left: 50%;
	}
	100% {
		left: 80%;
	}
}

/* loader */
