/* spinner-container {
  position: relative;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
} */

/* .loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: blue;
  animation: spinner 0.6s linear infinite;
} */

.story{
  display: inline-block;
  padding: 2%;
  padding-top: 4%;
}

body {
  background: #94b5c0 !important;
}
/* body{
  background-color: #d4e2d4 !important;
} */